---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [20]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import matplotlib as plt
%matplotlib inline
from pdb import set_trace
from scipy.signal import argrelextrema

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [21]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [22]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    Un_sity= pd.read_table('university_towns.txt', header=None)
    tmp = ''
    deldubl= False
    Un_sity[1] = [0 for i in range(len(Un_sity))]
    for i in range(len(Un_sity)):
        if '[edit]' in Un_sity.iloc[i,0]:
             tmp= Un_sity.iloc[i,0].split('[')[0]        
        Un_sity.iloc[i,1] = tmp
        if '(' in Un_sity.iloc[i,0]:
            Un_sity.iloc[i,0] = Un_sity.iloc[i,0].split('(')[0]
    Un_sity.columns = ["RegionName","State"]
    Un_sity['RegionName'] = Un_sity['RegionName'].apply(lambda x: x.strip(' '))   
    Un_sity = Un_sity.set_index('State')
    Un_sity = Un_sity[Un_sity.RegionName.str.contains('[edit]') == False]
    
    return Un_sity

#get_list_of_university_towns()

In [23]:
gdplev = pd.read_excel('gdplev.xls',skiprows=5)

gdplev_year = gdplev.loc[:,'Unnamed: 0':'GDP in billions of chained 2009 dollars']
gdplev_year.columns = ['Date','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']
gdplev_year.dropna(axis=0, how='all',inplace=True)   
gdplev_year['Date'] = (gdplev_year['Date'].astype(str).apply(lambda x: pd.to_datetime(x, format='%Y.0'))
                       .apply(lambda x: x.year))


gdplev_quart = gdplev.loc[:,'Unnamed: 4':'GDP in billions of chained 2009 dollars.1']
gdplev_quart.dropna(axis=0, how='all',inplace=True)
gdplev_quart.columns = ['Date','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']

gdplev_quart = gdplev_quart.set_index('Date')
gdplev_quart.drop(gdplev_quart.index[:-66], inplace=True)


qw_ind = list(gdplev_quart.index)
gdplev_quart_ress = gdplev_quart.iloc[-40:-15]
#gdplev_quart_ress.plot(y='GDP in billions of chained 2009 dollars', kind='line')

In [24]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''    
    x = argrelextrema(gdplev_quart['GDP in billions of chained 2009 dollars'].values,np.less)
    return gdplev_quart.index.values[x[0][2]]

#get_recession_start()

In [25]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    x = argrelextrema(gdplev_quart['GDP in billions of chained 2009 dollars'].values,np.greater)
    return gdplev_quart.index.values[x[0][4]]
#get_recession_end()

In [26]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    x = argrelextrema(gdplev_quart['GDP in billions of chained 2009 dollars'].values,np.less)
    return gdplev_quart.index.values[x[0][3]]
#get_recession_bottom()

In [27]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment descraiption, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    City_Zhvi= pd.read_csv('City_Zhvi_AllHomes.csv')
    City_Zhvi['State'] = City_Zhvi['State'].map(states)
    City_Zhvi = City_Zhvi.set_index(['State','RegionName']).iloc[:,-200:]
    qw_ind.append('2016q3')
    City_Zhvi_qw = pd.DataFrame(index=City_Zhvi.index,columns=qw_ind)

    City_t = City_Zhvi.T
    City_t.index = City_t.index.map(lambda x: x.split('-')[0])
    i=0
    for group, frame in City_t.groupby(level=0):
        if group != '2016':
            df1, df2, df3, df4 = np.array_split(frame, 4)
            City_Zhvi_qw[qw_ind[i]] =df1.mean(axis=0)
            City_Zhvi_qw[qw_ind[i+1]] =df2.mean(axis=0)
            City_Zhvi_qw[qw_ind[i+2]] =df3.mean(axis=0)
            City_Zhvi_qw[qw_ind[i+3]] =df4.mean(axis=0)
            i+=4

        else:
            df1, df2 = np.array_split(frame[:-2], 2)
            df3 = frame.iloc[-2:]

            City_Zhvi_qw[qw_ind[i]] =df1.mean(axis=0)
            City_Zhvi_qw[qw_ind[i+1]] =df2.mean(axis=0)
            City_Zhvi_qw[qw_ind[i+2]] =df3.mean(axis=0)

    
    return City_Zhvi_qw

#convert_housing_data_to_quarters()

In [28]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    price_ratio =  (lambda row : (row['2008q3'] - row['2009q2'])/row['2008q3'])
    def is_uni_town(row):
        #check if the town is a university towns or not.
        if row['RegionName'] in uni_town:
            return 1
        else:
            return 0
    def is_better():
        if df[df['is_uni']==0].loc[:,'up&down'].mean() < df[df['is_uni']==1].loc[:,'up&down'].mean():
            return 'non-university town'
        else:
            return 'university town'
    
    uni_town = set(get_list_of_university_towns()['RegionName'])
    
    df = (convert_housing_data_to_quarters().copy()
          .loc[:,'2008q1':'2009q2']
          .reset_index())
    df['up&down'] = df.apply(price_ratio,axis=1).dropna()
    df['is_uni'] = df.apply(is_uni_town,axis=1).dropna()
    set_trace()
    p_val = list(ttest_ind(df[df['is_uni']==0].loc[:,'up&down'],
                           df[df['is_uni']==1].loc[:,'up&down']))[1]
    result = (True,p_val,is_better())
    return result

run_ttest()

> <ipython-input-28-0ec9bd8fb5b0>(36)run_ttest()
-> p_val = list(ttest_ind(df[df['is_uni']==0].loc[:,'up&down'],
(Pdb) sum(df['is_uni'])
92
(Pdb) df['is_uni']
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
10700    0
10701    0
10702    0
10703    0
10704    0
10705    0
10706    0
10707    0
10708    0
10709    0
10710    0
10711    0
10712    0
10713    0
10714    0
10715    0
10716    0
10717    0
10718    0
10719    0
10720    0
10721    0
10722    0
10723    0
10724    0
10725    0
10726    0
10727    0
10728    0
10729    0
Name: is_uni, Length: 10730, dtype: int64
(Pdb) df[df['is_uni']==0].loc[:,'up&down']
0        0.067898
1        0.118424
2        0.053017
3        0.006556
4        0.131774
5        0.229808
6        0.082810
8        0.090602
9        0.089832
10       0.078697
11       0.033328
12       0.088934
14       0.091995
15       0.055871
16      -0.022688
17       0.063724
18       0.094004
19       0.016232
20       0.051909
21       0.053971
22       0.027214
23       0.087308
25       0.024500
26       0.019231
27       0.024730
28      -0.009299
29       0.152061
30       0.143470
31       0.128241
32       0.090625
           ...
10700         NaN
10701    0.049935
10702         NaN
10703    0.083900
10704    0.057749
10705    0.070590
10706         NaN
10707   -0.032077
10708    0.047942
10709    0.075537
10710    0.047358
10711    0.131465
10712         NaN
10713    0.125277
10714   -0.029044
10715    0.016059
10716   -0.049366
10717         NaN
10718    0.060493
10719         NaN
10720    0.091508
10721   -0.122235
10722    0.041137
10723    0.078399
10724   -0.322222
10725    0.032078
10726   -0.046932
10727   -0.018993
10728    0.046517
10729    0.115968
Name: up&down, Length: 10638, dtype: float64
(Pdb) df[df['is_uni']==1].loc[:,'up&down']
7        0.063001
13       0.021687
24       0.064859
39       0.014363
47       0.134910
50       0.070686
70      -0.120328
72       0.028436
141           NaN
142      0.079893
170      0.268741
224      0.025289
243     -0.006541
267      0.045783
283     -0.040958
287      0.019102
296      0.011276
322      0.005851
336      0.020672
373      0.046794
415      0.110349
491      0.001351
507      0.181054
559      0.124271
607      0.125114
628      0.027142
741      0.030766
826      0.039123
836     -0.074717
854      0.067453
           ...
6386    -0.062944
6694    -0.003096
6824     0.008102
6900          NaN
6904     0.008470
7146    -0.018126
7208     0.008305
7235     0.109223
7262     0.050418
7410     0.011132
7508    -0.046503
7527    -0.077102
7637    -0.008097
7677    -0.013321
7902     0.064100
8096    -0.135316
8246     0.021124
8319    -0.101064
8603     0.009361
8626     0.029260
8744    -0.048833
8885     0.141774
9030    -0.060409
9498          NaN
9560          NaN
9582     0.044628
9621     0.015263
9754     0.127112
9944          NaN
10522    0.054549
Name: up&down, Length: 92, dtype: float64
(Pdb) n
> <ipython-input-28-0ec9bd8fb5b0>(37)run_ttest()
-> df[df['is_uni']==1].loc[:,'up&down']))[1]
(Pdb) n
> <ipython-input-28-0ec9bd8fb5b0>(38)run_ttest()
-> result = (True,p_val,is_better())
(Pdb) n
> <ipython-input-28-0ec9bd8fb5b0>(39)run_ttest()
-> return result
(Pdb) n
--Return--
> <ipython-input-28-0ec9bd8fb5b0>(39)run_ttest()->(True, nan, 'university town')
-> return result
(Pdb) c

(True, nan, 'university town')

In [29]:
def is_uni_town(row):
        #check if the town is a university towns or not.
    if row['RegionName'] in uni_town:
        return 1
    else:
        return 0

df1 = (convert_housing_data_to_quarters().copy()
          .loc[:,'2008q1':'2009q2']
          .reset_index())
uni_town = set(get_list_of_university_towns()['RegionName'])
to_comp = set(df1['RegionName'])

res = list(uni_town.intersection(to_comp))
summ = 0

for row in to_comp:
    if row in uni_town:
        summ+=1
        
print(summ)

ValueError: Buffer has wrong number of dimensions (expected 1, got 0)